.shadowed {
  color: white;
  background-color: white;
  text-shadow: 2px 2px 4px #0000;
}

.lineWidthSelect,
.flex-col {
  display: flex;
  flex-direction: column;
}
label {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.canvasPreview {
  border-style: solid;
}
button {
  border-radius: 10%;
  background-image: linear-gradient(180deg, gray, white);
}
.range {
  border-style: solid;
}
.interface {
  margin-left: 4px;
}
